@using NguyenManhDuc.WebApp.Models
@model List<ProductVersionModel>
@{
    ViewData["Title"] = "Quản Lý Số Lượng Phiên Bản";
    var productId = ViewBag.ProductId;
}

<p><a class="btn btn-warning btn-sm" asp-action="AddVersionQuantity" asp-route-id="@productId">Thêm Phiên Bản</a></p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col" class="text-center" style="vertical-align: middle;">Id</th>
            <th scope="col" class="text-center" style="vertical-align: middle;">Phiên Bản</th>
            <th scope="col" class="text-center" style="vertical-align: middle;">Số Lượng</th>
            <th scope="col" class="text-center" style="vertical-align: middle;">Trạng Thái</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="col" class="text-center" style="vertical-align: middle;">@item.Id</td>
                <td>@item.Version!.Version</td>
                <td>@item.Quantity</td>
                <td>
                    @if (item.Status == 1)
                    {
                        <span class="text text-success">Hiển Thị</span>
                    }
                    else
                    {
                        <span class="text text-danger">Ẩn</span>
                    }
                </td>
                <td>
                    <a asp-action="EditVersionQuantity" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Sửa</a>
                    <a asp-action="DeleteVersionQuantity" asp-route-id="@item.Id" class="btn btn-warning btn-sm"
                       onclick="return confirm('Bạn có chắc muốn xoá Phiên Bản này?');">Xoá</a>
                </td>
            </tr>
        }
    </tbody>
</table>
