@using NguyenManhDuc.WebApp.Models
@using NguyenManhDuc.WebApp.Repository
@using NguyenManhDuc.WebApp.Repository.Validation
@model IEnumerable<VersionModel>
@{
    ViewData["Title"] = "Danh Sách Phiên Bản";

    Paginate pager = new Paginate();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;

        pageNo = pager.CurrentPage;
    }
}
<div class="">
    <p><a asp-controller="Version" asp-action="Add" class="btn btn-warning btn-sm">Thêm Phiên Bản</a></p>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col" class="text-center" style="vertical-align: middle;">Id</th>
                <th scope="col" class="text-center" style="vertical-align: middle;">Phiên Bản</th>
                <th scope="col" class="text-center" style="vertical-align: middle;">Slug</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td scope="col" class="text-center" style="vertical-align: middle;">@item.Id</td>
                    <td>@item.Version</td>
                    <td>@item.Slug</td>
                    <td>
                        <a asp-controller="Version" asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-warning btn-sm">Sửa</a>
                        <a asp-controller="Version" asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-warning btn-sm confirmDeletion">Xoá</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_Paging" model="@pager" />
</div>